## Start simulation

In [1]:
import numpy as np
import pandas as pd
from factory_simulation import *

np.random.seed(42)
interarrival_time = np.random.exponential(scale=2) # The scale parameter (lambda) for an exponential distribution is equal to both the mean and std dev.

env = simpy.Environment()
env.process(run_factory(env, lots_ready_at_time_zero=3, interarrival_time=interarrival_time))
env.run(until=10)

### The `create_mes_data()` function below produces a `namedtuple`, whose fields hold different outputs of the simulation.

In [2]:
mes = create_mes_data(simulation_start_time = (2021, 1, 1))

Fields:
- mes.hist = Historical MES data. The lot has already been processed at that step so contains no NA values.
- mes.current = Shows the current location of lots in the factory. Contains NA values for process_start_time, process_end_time, or both.

In [3]:
mes.hist

   lot_id step_name step_arrival_time process_start_time process_end_time
0       1    STEP A                 0                  0                1
1       2    STEP A                 0                  1                2
2       3    STEP A                 0                  2                3
3       4    STEP A          0.938536                  3                4
4       1    STEP B                 1                  1                3
5       5    STEP A          1.877072                  4                5
6       2    STEP B                 2                  3                5
7       6    STEP A          2.815609                  5                6
8       1    STEP C                 3                  5                8
10      7    STEP A          3.754145                  6                7
12      8    STEP A          4.692681                  7                8
15      9    STEP A          5.631217                  8                9

In [4]:
mes.current

   lot_id step_name step_arrival_time process_start_time process_end_time
9       3    STEP B                 3                  8              NaN
11      4    STEP B                 4                NaN              NaN
13      2    STEP C                 5                NaN              NaN
14      5    STEP B                 5                NaN              NaN
16      6    STEP B                 6                NaN              NaN
17     10    STEP A          6.569753                  9              NaN
18      7    STEP B                 7                NaN              NaN
19     11    STEP A          7.508289                NaN              NaN
20      1    STEP D                 8                NaN              NaN
21      8    STEP B                 8                NaN              NaN
22     12    STEP A          8.446826                NaN              NaN
23      9    STEP B                 9                NaN              NaN
24     13    STEP A          9.385362                NaN              NaN

In [5]:
# mes_data = GlobalVars.lot_status_df

# simulation_start_time = pd.Timestamp(year=2021, month=1, day=1)
# for event in ["step_arrival_time", "process_start_time", "process_end_time"]:
#     from pandas.api.types import is_datetime64_any_dtype as is_datetime
#     if not is_datetime(mes_data[event]):
#         mes_data[event] = (
#             simulation_start_time
#             + pd.TimedeltaIndex(mes_data[event], unit="h")
#         )

In [6]:
GlobalVars.lot_status_df

   lot_id step_name step_arrival_time process_start_time process_end_time
0       1    STEP A                 0                  0                1
1       2    STEP A                 0                  1                2
2       3    STEP A                 0                  2                3
3       4    STEP A          0.938536                  3                4
4       1    STEP B                 1                  1                3
5       5    STEP A          1.877072                  4                5
6       2    STEP B                 2                  3                5
7       6    STEP A          2.815609                  5                6
8       1    STEP C                 3                  5                8
9       3    STEP B                 3                  8              NaN
10      7    STEP A          3.754145                  6                7
11      4    STEP B                 4                NaN              NaN
12      8    STEP A          4.692681                  7                8
13      2    STEP C                 5                NaN              NaN
14      5    STEP B                 5                NaN              NaN
15      9    STEP A          5.631217                  8                9
16      6    STEP B                 6                NaN              NaN
17     10    STEP A          6.569753                  9              NaN
18      7    STEP B                 7                NaN              NaN
19     11    STEP A          7.508289                NaN              NaN
20      1    STEP D                 8                NaN              NaN
21      8    STEP B                 8                NaN              NaN
22     12    STEP A          8.446826                NaN              NaN
23      9    STEP B                 9                NaN              NaN
24     13    STEP A          9.385362                NaN              NaN

In [7]:
pd.Timestamp(year=2021, month=1, day=1) + pd.to_timedelta(GlobalVars.lot_status_df['step_arrival_time'], unit='h')

0    2021-01-01 00:00:00.000000
1    2021-01-01 00:00:00.000000
2    2021-01-01 00:00:00.000000
3    2021-01-01 00:56:18.730248
4    2021-01-01 01:00:00.000000
5    2021-01-01 01:52:37.460496
6    2021-01-01 02:00:00.000000
7    2021-01-01 02:48:56.190744
8    2021-01-01 03:00:00.000000
9    2021-01-01 03:00:00.000000
10   2021-01-01 03:45:14.920992
11   2021-01-01 04:00:00.000000
12   2021-01-01 04:41:33.651240
13   2021-01-01 05:00:00.000000
14   2021-01-01 05:00:00.000000
15   2021-01-01 05:37:52.381488
16   2021-01-01 06:00:00.000000
17   2021-01-01 06:34:11.111736
18   2021-01-01 07:00:00.000000
19   2021-01-01 07:30:29.841984
20   2021-01-01 08:00:00.000000
21   2021-01-01 08:00:00.000000
22   2021-01-01 08:26:48.572232
23   2021-01-01 09:00:00.000000
24   2021-01-01 09:23:07.302480
Name: step_arrival_time, dtype: datetime64[ns]

In [8]:
pd.Timestamp(year=2021, month=1, day=1)

Timestamp('2021-01-01 00:00:00')