## Start simulation

In [1]:
import random
import numpy as np
import pandas as pd
from factory_simulation import *

np.random.seed(42)
interarrival_time = np.random.exponential(scale=2) # The scale parameter (lambda) for an exponential distribution is equal to both the mean and std dev.

env = simpy.Environment()
env.process(run_factory(env, lots_ready_at_time_zero=3, interarrival_time=interarrival_time))
env.run(until=10)

### The `create_mes_data()` function below produces a `namedtuple`, whose fields hold different outputs of the simulation.

In [2]:
mes = create_mes_data(simulation_start_time = (2021, 1, 1))

Fields:
- mes.hist = Historical MES data. The lot has already been processed at that step so contains no NA values.
- mes.current = Shows the current location of lots in the factory. Contains NA values for process_start_time, process_end_time, or both.

In [3]:
mes.hist

,lot_id,step_name,step_arrival_time,process_start_time,process_end_time,queue_time_hours,process_time_hours,step_cycle_time_hours
0,1,STEP A,2021-01-01 00:00:00.000000,2021-01-01 00:00:00,2021-01-01 01:00:00,0.000000,1.0,1.000000
1,2,STEP A,2021-01-01 00:00:00.000000,2021-01-01 01:00:00,2021-01-01 02:00:00,1.000000,1.0,2.000000
2,3,STEP A,2021-01-01 00:00:00.000000,2021-01-01 02:00:00,2021-01-01 03:00:00,2.000000,1.0,3.000000
3,4,STEP A,2021-01-01 00:56:18.730248,2021-01-01 03:00:00,2021-01-01 04:00:00,2.061464,1.0,3.061464
4,1,STEP B,2021-01-01 01:00:00.000000,2021-01-01 01:00:00,2021-01-01 03:00:00,0.000000,2.0,2.000000
5,5,STEP A,2021-01-01 01:52:37.460496,2021-01-01 04:00:00,2021-01-01 05:00:00,2.122928,1.0,3.122928
6,2,STEP B,2021-01-01 02:00:00.000000,2021-01-01 03:00:00,2021-01-01 05:00:00,1.000000,2.0,3.000000
7,6,STEP A,2021-01-01 02:48:56.190744,2021-01-01 05:00:00,2021-01-01 06:00:00,2.184391,1.0,3.184391
8,1,STEP C,2021-01-01 03:00:00.000000,2021-01-01 05:00:00,2021-01-01 08:00:00,2.000000,3.0,5.000000
10,7,STEP A,2021-01-01 03:45:14.920992,2021-01-01 06:00:00,2021-01-01 07:00:00,2.245855,1.0,3.245855
12,8,STEP A,2021-01-01 04:41:33.651240,2021-01-01 07:00:00,2021-01-01 08:00:00,2.307319,1.0,3.307319
15,9,STEP A,2021-01-01 05:37:52.381488,2021-01-01 08:00:00,2021-01-01 09:00:00,2.368783,1.0,3.368783

In [4]:
mes.current

,lot_id,step_name,step_arrival_time,process_start_time,process_end_time
9,3,STEP B,2021-01-01 03:00:00.000000,2021-01-01 08:00:00,NaT
11,4,STEP B,2021-01-01 04:00:00.000000,NaT,NaT
13,2,STEP C,2021-01-01 05:00:00.000000,NaT,NaT
14,5,STEP B,2021-01-01 05:00:00.000000,NaT,NaT
16,6,STEP B,2021-01-01 06:00:00.000000,NaT,NaT
17,10,STEP A,2021-01-01 06:34:11.111736,2021-01-01 09:00:00,NaT
18,7,STEP B,2021-01-01 07:00:00.000000,NaT,NaT
19,11,STEP A,2021-01-01 07:30:29.841984,NaT,NaT
20,1,STEP D,2021-01-01 08:00:00.000000,NaT,NaT
21,8,STEP B,2021-01-01 08:00:00.000000,NaT,NaT
22,12,STEP A,2021-01-01 08:26:48.572232,NaT,NaT
23,9,STEP B,2021-01-01 09:00:00.000000,NaT,NaT
24,13,STEP A,2021-01-01 09:23:07.302480,NaT,NaT