In [2]:
import random
import numpy as np
import pandas as pd
from factory_simulation import *
import datetime as dt
import pyodbc

np.random.seed(42)
interarrival_time = np.random.exponential(scale=2) # The scale parameter (lambda) for an exponential distribution is equal to both the mean and std dev.

env = simpy.Environment()
env.process(run_factory(env, lots_ready_at_time_zero=3, interarrival_time=interarrival_time))
env.run(until=10)

In [3]:
mes_data = get_lot_status_df()

In [4]:
simulation_start_time = dt.datetime(2021,1,1)
# Convert simulation minutes to datetimes starting at simulation_start_time.
mes_data['step_arrival_time'] = simulation_start_time + pd.TimedeltaIndex(mes_data['step_arrival_time'], unit='m')
mes_data['process_start_time'] = simulation_start_time + pd.TimedeltaIndex(mes_data['process_start_time'], unit='m')
mes_data['process_end_time'] = simulation_start_time + pd.TimedeltaIndex(mes_data['process_end_time'], unit='m')

In [5]:
mes_hist = mes_data[~mes_data['process_end_time'].isna()]
mes_current = mes_data[mes_data['process_end_time'].isna()]

In [6]:
mes_hist

,lot_id,step_name,step_arrival_time,process_start_time,process_end_time
0,1,STEP A,2021-01-01 00:00:00.000000000,2021-01-01 00:00:00,2021-01-01 00:01:00
1,1,STEP A,2021-01-01 00:00:00.000000000,2021-01-01 00:01:00,2021-01-01 00:02:00
2,1,STEP A,2021-01-01 00:00:00.000000000,2021-01-01 00:02:00,2021-01-01 00:03:00
3,1,STEP A,2021-01-01 00:00:56.312170800,2021-01-01 00:03:00,2021-01-01 00:04:00
4,1,STEP B,2021-01-01 00:01:00.000000000,2021-01-01 00:01:00,2021-01-01 00:03:00
5,1,STEP A,2021-01-01 00:01:52.624341600,2021-01-01 00:04:00,2021-01-01 00:05:00
6,1,STEP B,2021-01-01 00:02:00.000000000,2021-01-01 00:03:00,2021-01-01 00:05:00
7,1,STEP A,2021-01-01 00:02:48.936512400,2021-01-01 00:05:00,2021-01-01 00:06:00
8,1,STEP C,2021-01-01 00:03:00.000000000,2021-01-01 00:05:00,2021-01-01 00:08:00
10,1,STEP A,2021-01-01 00:03:45.248683200,2021-01-01 00:06:00,2021-01-01 00:07:00
12,1,STEP A,2021-01-01 00:04:41.560854000,2021-01-01 00:07:00,2021-01-01 00:08:00
15,1,STEP A,2021-01-01 00:05:37.873024800,2021-01-01 00:08:00,2021-01-01 00:09:00

In [7]:
mes_current

,lot_id,step_name,step_arrival_time,process_start_time,process_end_time
9,1,STEP B,2021-01-01 00:03:00.000000000,2021-01-01 00:08:00,NaT
11,1,STEP B,2021-01-01 00:04:00.000000000,NaT,NaT
13,1,STEP C,2021-01-01 00:05:00.000000000,NaT,NaT
14,1,STEP B,2021-01-01 00:05:00.000000000,NaT,NaT
16,1,STEP B,2021-01-01 00:06:00.000000000,NaT,NaT
17,1,STEP A,2021-01-01 00:06:34.185195600,2021-01-01 00:09:00,NaT
18,1,STEP B,2021-01-01 00:07:00.000000000,NaT,NaT
19,1,STEP A,2021-01-01 00:07:30.497366400,NaT,NaT
20,1,STEP D,2021-01-01 00:08:00.000000000,NaT,NaT
21,1,STEP B,2021-01-01 00:08:00.000000000,NaT,NaT
22,1,STEP A,2021-01-01 00:08:26.809537200,NaT,NaT
23,1,STEP B,2021-01-01 00:09:00.000000000,NaT,NaT
24,1,STEP A,2021-01-01 00:09:23.121708000,NaT,NaT